In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler, PowerTransformer

In [2]:
# Loading dataframe
df = pd.read_csv('London_Listings.csv')

# Original shape
print('Original Shape:', df.shape)

# First five rows
df.head()

Original Shape: (66679, 31)

,id,name,description,host_id,host_name,host_since,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,...,amenities,price,minimum_nights,maximum_nights,calendar_last_scraped,number_of_reviews,first_review,last_review,review_scores_rating,calculated_host_listings_count
0,2.763150e+07,1,NaN,35877912,Alex,15/06/2015,NaN,NaN,f,1.0,...,"[""Kitchen"", ""Refrigerator"", ""Microwave"", ""Free...",$200.00,1,1125,14/06/2024,0,NaN,NaN,NaN,1
1,1.100000e+18,1,Get comfortable and enjoy plenty of extra room...,564055882,Lili-Ann,26/02/2024,NaN,NaN,f,1.0,...,[],$675.00,1,365,15/06/2024,0,NaN,NaN,NaN,1
2,1.170000e+18,117,Keep it simple at this peaceful and centrally-...,528033284,Shujauddin,26/07/2023,86%,50%,f,2.0,...,"[""Washer"", ""Wifi"", ""Kitchen""]",$95.00,1,365,16/06/2024,0,NaN,NaN,NaN,2
3,8.730000e+17,- Bright Central London Apartment -,My apartment has everything you possibly need ...,99268099,Alex,11/10/2016,98%,93%,t,5.0,...,"[""Microwave"", ""Hot water kettle"", ""Body soap"",...",$166.00,7,365,16/06/2024,24,24/04/2023,02/05/2024,4.83,1
4,4.672403e+07,""" Bright & Cosy Loft apartment """,Lovely and cosy arctic space with a separate d...,359199241,Karol,29/07/2020,100%,95%,t,1.0,...,"[""Cleaning products"", ""Cooking basics"", ""First...",$105.00,2,60,14/06/2024,46,20/08/2021,02/06/2024,4.89,1

In [3]:
# Check types before categorising
print(df.dtypes)

id                                float64
name                               object
description                        object
host_id                             int64
host_name                          object
host_since                         object
host_response_rate                 object
host_acceptance_rate               object
host_is_superhost                  object
host_listings_count               float64
host_total_listings_count         float64
neighbourhood                      object
latitude                          float64
longitude                         float64
property_type                      object
room_type                          object
accommodates                        int64
bathrooms                         float64
bathrooms_text                     object
bedrooms                          float64
beds                              float64
amenities                          object
price                              object
minimum_nights                      int64
maximum_nights                      int64
calendar_last_scraped              object
number_of_reviews                   int64
first_review                       object
last_review                        object
review_scores_rating              float64
calculated_host_listings_count      int64
dtype: object

In [4]:
# Categorial and numerical columns
categorical_var = df.select_dtypes(include=['object'])
numerical_var = df.select_dtypes(include=['int64', 'float64'])

print("Categorical Variables:", categorical_var)
print("Numerical Variables:", numerical_var)

Categorical Variables:                                                  name  \
0                                                   1
1                                                   1
2                                                 117
3                 - Bright Central London Apartment -
4                   " Bright & Cosy  Loft apartment "
...                                               ...
66674  ZONE-1-PRIME LOCATION-LUXURY 1BR APT IN LONDON
66675                                           Zone2
66676                          Zoya’s Place in Harrow
66677                                          #NAME?
66678                                          #NAME?

                                             description   host_name  \
0                                                    NaN        Alex
1      Get comfortable and enjoy plenty of extra room...    Lili-Ann
2      Keep it simple at this peaceful and centrally-...  Shujauddin
3      My apartment has everything you possibly need ...        Alex
4      Lovely and cosy arctic space with a separate d...       Karol
...                                                  ...         ...
66674  ** PLEASE CROSS CHECK THE AVAILABILITY OF THE ...    Especial
66675  Relax in this unique and peaceful place, locat...      Otavio
66676  Welcome to our Family home in Harrow, London! ...       Emily
66677  Enjoy an Entire Private Studio apartment locat...        Nain
66678  Cosy Studio house with a private kitchen & toi...        Nain

       host_since host_response_rate host_acceptance_rate host_is_superhost  \
0      15/06/2015                NaN                  NaN                 f
1      26/02/2024                NaN                  NaN                 f
2      26/07/2023                86%                  50%                 f
3      11/10/2016                98%                  93%                 t
4      29/07/2020               100%                  95%                 t
...           ...                ...                  ...               ...
66674  01/04/2017               100%                  85%                 t
66675  19/05/2016               100%                 100%                 f
66676  21/11/2021               100%                 100%                 f
66677  02/05/2012               100%                  99%                 f
66678  02/05/2012               100%                  99%                 f

       neighbourhood                property_type        room_type  \
0             Merton                  Shared room      Shared room
1            Lambeth  Private room in rental unit     Private room
2        Westminster  Private room in rental unit     Private room
3        Westminster           Entire rental unit  Entire home/apt
4             Ealing                  Entire loft  Entire home/apt
...              ...                          ...              ...
66674    Westminster           Entire rental unit  Entire home/apt
66675          Brent  Private room in rental unit     Private room
66676         Harrow                  Entire home  Entire home/apt
66677  Tower Hamlets           Entire rental unit  Entire home/apt
66678         Newham                  Entire home  Entire home/apt

       bathrooms_text                                          amenities  \
0      0 shared baths  ["Kitchen", "Refrigerator", "Microwave", "Free...
1                 NaN                                                 []
2       1 shared bath                      ["Washer", "Wifi", "Kitchen"]
3              1 bath  ["Microwave", "Hot water kettle", "Body soap",...
4              1 bath  ["Cleaning products", "Cooking basics", "First...
...               ...                                                ...
66674          1 bath  ["High chair - available upon request", "Micro...
66675          1 bath  ["Kitchen", "Refrigerator", "Smoking allowed",...
66676          1 bath  ["Kitchen", "TV", "Free parking on premises", ...
66677          1 bath  ["Dining table", "Cleaning products", "Cooking...
66678          1 bath  ["Dining table", "Single level home", "Bathtub...

         price calendar_last_scraped first_review last_review
0      $200.00            14/06/2024          NaN         NaN
1      $675.00            15/06/2024          NaN         NaN
2       $95.00            16/06/2024          NaN         NaN
3      $166.00            16/06/2024   24/04/2023  02/05/2024
4      $105.00            14/06/2024   20/08/2021  02/06/2024
...        ...                   ...          ...         ...
66674  $305.00            16/06/2024   04/10/2022  04/10/2022
66675   $75.00            16/06/2024          NaN         NaN
66676  $182.00            14/06/2024   06/01/2024  06/01/2024
66677  $121.00            16/06/2024   18/06/2023  27/05/2024
66678   $76.00            14/06/2024   06/05/2023  27/05/2024

[66679 rows x 16 columns]
Numerical Variables:                  id    host_id  host_listings_count  \
0      2.763150e+07   35877912                  1.0
1      1.100000e+18  564055882                  1.0
2      1.170000e+18  528033284                  2.0
3      8.730000e+17   99268099                  5.0
4      4.672403e+07  359199241                  1.0
...             ...        ...                  ...
66674  3.453554e+07  123745971                 41.0
66675  9.190000e+17   72924653                  1.0
66676  9.580000e+17  432874801                 13.0
66677  8.930000e+17    2272296                  8.0
66678  8.670000e+17    2272296                  8.0

       host_total_listings_count   latitude  longitude  accommodates  \
0                            1.0  51.408650  -0.171570             1
1                            1.0  51.483050  -0.115831             1
2                            2.0  51.512410  -0.180360             2
3                           23.0  51.511845  -0.133337             2
4                            1.0  51.548580  -0.344930             2
...                          ...        ...        ...           ...
66674                      117.0  51.513620  -0.133930             2
66675                        1.0  51.541852  -0.210976             2
66676                       40.0  51.579139  -0.375881             5
66677                       55.0  51.517994  -0.070753             2
66678                       55.0  51.536211   0.007187             2

       bathrooms  bedrooms  beds  minimum_nights  maximum_nights  \
0            0.0       2.0   3.0               1            1125
1            NaN       1.0   1.0               1             365
2            1.0       1.0   1.0               1             365
3            1.0       1.0   0.0               7             365
4            1.0       1.0   1.0               2              60
...          ...       ...   ...             ...             ...
66674        1.0       1.0   1.0              15            1125
66675        1.0       1.0   1.0               2            1125
66676        1.0       3.0   3.0               1             365
66677        1.0       1.0   0.0               2              90
66678        1.0       1.0   0.0               2              90

       number_of_reviews  review_scores_rating  calculated_host_listings_count
0                      0                   NaN                               1
1                      0                   NaN                               1
2                      0                   NaN                               2
3                     24                  4.83                               1
4                     46                  4.89                               1
...                  ...                   ...                             ...
66674                  1                  4.00                              27
66675                  0                   NaN                               1
66676                  1                  4.00                              12
66677                 27                  4.70                               8
66678                 22                  4.73                               8

[66679 rows x 15 columns]

In [5]:
# Price Column
df['price'] = df['price'].str.replace('$', '', regex=False).str.replace(',', '', regex=False)
df['price'] = pd.to_numeric(df['price'], errors='coerce')

df['price'].describe()

count    61418.000000
mean       209.987202
std        961.450873
min          0.000000
25%         78.000000
50%        138.000000
75%        227.000000
max      80000.000000
Name: price, dtype: float64

In [6]:
# Categorical variables, remove empty strings or lists and replace with Nan.
for col in categorical_var:
    df[col] = df[col].replace(['', '[]'], np.nan)
    
missing_col_val = df.isnull().sum()
print('Missing column values:\n', missing_col_val[missing_col_val > 0])

Missing column values:
 description                   1956
host_name                        1
host_since                       1
host_response_rate           10175
host_acceptance_rate          7146
host_is_superhost              380
host_listings_count              1
host_total_listings_count        1
bathrooms                     5329
bathrooms_text                 100
bedrooms                       101
beds                          5400
amenities                      136
price                         5261
first_review                 14736
last_review                  14736
review_scores_rating         14736
dtype: int64

In [7]:
# Drop unnecessary columns, can be later changed.
drop_Columns = ['calendar_last_scraped', 'bathrooms_text', 'latitude', 'longitude']
df.drop(columns=drop_Columns, inplace=True, errors='ignore')

# Updated shape
print("Shape after dropping unnecessary columns:", df.shape)

Shape after dropping unnecessary columns: (66679, 27)

In [8]:
# Drop duplicates
df.drop_duplicates(inplace=True)

# Drop rows with NaN values
df.dropna(inplace=True)

# Updated shape
print('Shape after dropping duplicates and NaN rows:', df.shape)

Shape after dropping duplicates and NaN rows: (41888, 27)

In [9]:
# Remove outliers (ONLY RUN ONCE)

def remove_outliers(df, columns):
    for col in columns:
        # Necessary as numberical_var contains elements which have been deleted.
        if col not in df.columns:
            print(f"Column '{col}' does not exist. ")
            continue
        
        # Calculate IQR and bounds
        q1 = df[col].quantile(0.25)
        q3 = df[col].quantile(0.75)
        iqr = q3 - q1
        l_bound = q1 - 1.5 * iqr
        u_bound = q3 + 1.5 * iqr
        
        # Remove outliers
        df = df[(df[col] >= l_bound) & (df[col] <= u_bound)]
    
    return df

# Call the function
df = remove_outliers(df, numerical_var)

# Display the updated shape
print('Shape after removing outliers:', df.shape)

Column 'latitude' does not exist.
Column 'longitude' does not exist.
Shape after removing outliers: (19275, 27)